[Unit]
Description=Telegram Bot
After=network.tarrget

[Service]
User=serega
Group=serega

WorkingDirectory=/home/serega/musicbottg/
Environment="PYTHONPATH=/home/serega/musicbottg"
ExecStart=/home/serega/musicbottg/.venv/bin/python  /home/serega/musicbottg/bot.py

[Install]
WantedBy=multi-user.target