[Unit]
Description=Telegram Bot
After=network.tarrget

[Service]
User=serega
Group=serega

WorkingDirectory=/home/serega/telegbot/
Environment="PYTHONPATH=/home/serega/telegbot"
ExecStart=/home/serega/telegbot/.venv/bin/python  /home/serega/telegbot/bot.py

[Install]
WantedBy=multi-user.target